# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Python package installers
pip-log.txt
pip-delete-this-directory.txt

# IDE-specific files
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# PyCharm specific
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/vcs.xml

# User-specific
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs and databases
*.log
*.sqlite
*.db
*.db-shm
*.db-wal
